@import url('https://fonts.cdnfonts.com/css/spongebob-font-condensed');

* {
    font-family: 'SpongeBob Font Condensed', sans-serif;
}                                                

h1 {
    text-align: center;
}

body {
    background-color: rgb(238, 236, 236);
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 60%;
}