@import url('https://fonts.googleapis.com/css2?family=Almendra:ital@1&display=swap');

* {
    font-family: 'Almendra', serif;
}                                                

h1 {
    text-align: center;
}

body {
    background-color: rgb(238, 236, 236);
}

div {
    display: flex;
    justify-content: center;
}

img {
    width: 60%;
}