@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

body {
    text-align: center;
    background-color: rgb(238, 236, 236);
}

h1 {
    font-family: 'Loved by the King', cursive;
}

ul {
    font-family: 'Loved by the King', cursive;
    list-style-position: inside;
}
